.input-field {
    background-color: -internal-light-dark(rgb(232, 240, 254), rgba(70, 90, 126, 0.4)) !important;
    color: fieldtext !important;
    padding-block: 1px;
    padding-inline: 2px;
    border: 1px solid #dddfe2;
    border-radius: 6px;
    width: 330px;
    height: 22px;
    line-height: 16px;
    padding: 10px;
    outline: none;
    margin: 10px;
    cursor: text;
    caret-color: #0766ff;
    font-size: 15px;
}

.input-field:focus {
    outline: 1px solid #0766ff;
}